<h2 class='text-center'>Cocktails</h2>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.photo? ? '''http://res.cloudinary.com/nephaest/image/upload/' + cocktail.photo.path : 'http://placehold.it/400x250' %>);">
          <div class="card-description">
            <h3><%= cocktail.name %></h3>
          </div>
          <%= link_to '', cocktail, class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
